@-webkit-keyframes move-top-bottom {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}@keyframes move-top-bottom {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
.section-bg {
  background-color: #eef1f3;
}

.hidden-y-x {
  overflow-x: hidden;
  overflow-y: hidden;
}

.height-section {
  min-height: calc(100vh - 69.22px - 120.96px - 57px);
}

.btn-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.row-gap-24 {
  row-gap: 24px;
}

.main-btn {
  border-color: #583663 !important;
  background-color: #583663 !important;
  color: #FFF !important;
}

.main-label {
  display: block;
  margin-bottom: 2px;
  font-size: 16px;
}

.box-img {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.box-img:hover .event-img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.box-img .event-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.box-img .text {
  position: absolute;
  bottom: 15px;
  font-size: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
}

.section-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-box .title-section {
  color: #423380;
  margin-bottom: 5px;
  margin-top: 7px;
  font-size: 17px;
}
.section-box .des-section {
  text-align: center;
  color: #6c6c6e;
  font-size: 0.875em;
}

.place-box {
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: rgba(92, 213, 222, 0.0784313725);
  border-color: rgba(77, 199, 208, 0.0784313725);
}
.place-box .info {
  padding: 12px;
}
.place-box .info p {
  margin-bottom: 10px;
  color: #226cad;
  font-size: 16px;
}
.place-box .info span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 5px;
}
.place-box .info span i,
.place-box .info span svg {
  color: #4eacff;
}
.place-box .img-holder img {
  border-radius: 12px 0px 0px 12px;
  width: 150px;
}

.side-def-box {
  min-height: 47px;
  background-color: #11697a;
  line-height: 47px;
  padding: 11px 20px;
  border-radius: 23px;
  color: #fff;
}
.side-def-box .podcast {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #fff;
  color: #11697a;
  height: 28px;
  width: 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 5px;
}

#map {
  width: 100%;
  height: 280px;
}

.alert-btn {
  max-width: 850px;
  background-color: #d7f2dc;
  padding: 1px 10px;
  border-radius: 7px;
  margin-bottom: 20px;
}

.use-navb .navbar-link {
  color: #333;
  display: block;
  padding: 12px;
  border-bottom: 1px solid #ddd;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.use-navb .navbar-link:hover {
  background-color: #583663;
  color: #FFF;
}

.avatar-wrapper {
  position: relative;
  height: 130px;
  width: 130px;
  margin: 50px auto;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 15px -5px black;
          box-shadow: 1px 1px 15px -5px black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.avatar-wrapper .profile-pic {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@font-face {
  font-family: "J-FFlat";
  src: url("../fonts/alfont_com_bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "J-FFlat";
  src: url("../fonts/ArbFONTS-JFFlat-Regular.otf");
  font-weight: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "J-FFlat";
  font-size: 15px;
  color: #212529;
}

ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}

button {
  border: none;
  outline: none;
}

.btn-warning,
.btn-info {
  color: #fff;
}
.btn-warning:hover,
.btn-info:hover {
  color: #fff;
}
.btn-warning:focus,
.btn-info:focus {
  color: #fff;
}

input:focus,
select:focus {
  outline: none;
}

.section-height {
  height: calc(100vh - 70px - 178px);
}

.modal-header .modal-title {
  font-size: 15px !important;
}
.modal-header .btn-close {
  margin: unset !important;
}

/* start scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgba(246, 246, 246, 0.9647058824);
  -webkit-box-shadow: 0 0 2px #ddd inset;
          box-shadow: 0 0 2px #ddd inset;
}

::-webkit-scrollbar-thumb {
  background-color: #583663;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #391e41;
}

/* end scrollbar */
.up-btn {
  position: fixed;
  bottom: 16px;
  right: -50px;
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-color: #583663;
  z-index: 999;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.up-btn.show {
  right: 16px;
}
.up-btn::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 0%;
  height: 100%;
  z-index: -1;
  background-color: #391e41;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.up-btn:hover::before {
  width: 100%;
}
.up-btn:hover i, .up-btn:hover svg {
  animation: top-and-down 2s ease 0s infinite alternate-reverse both;
}
.up-btn i,
.up-btn svg {
  font-size: 17px;
}

.login-section {
  min-height: calc(100vh - 70px - 178px);
}
.login-section .box-login {
  padding: 20px;
  border-radius: 15px;
  max-width: 388px;
  margin: 0 auto;
}
.login-section .box-login.sing-up {
  width: 100%;
  margin: 0;
  max-width: 100%;
  padding: 0px;
  border-radius: 8px;
}
.login-section .box-login.sing-up .login-title {
  font-size: 19px;
}
.login-section .box-login.sing-up .card-body {
  width: 390px;
  margin: auto;
}
.login-section .box-login .login-title {
  color: #583663;
  font-size: 24px;
  font-weight: normal;
}
.login-section .box-login .inp-holder .login-inp {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 5px 10px;
  height: 40px;
  background-color: #f8f8f8;
  font-size: 12px;
  direction: rtl;
}
.login-section .box-login .form-check .login-label {
  color: #777;
  font-size: 13.5px;
}
.login-section .box-login .btn-holder .sing-in {
  background-color: #583663;
  text-align: center;
  padding: 10px;
  border: 0;
  color: #fff;
  border-radius: 100px;
  width: 158px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.login-section .box-login .btn-holder .sing-in:hover {
  background-color: #391e41;
}

.main-header {
  background-color: #583663;
}
.main-header .nav-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-header .nav-content .logo-holder a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 9px;
}
.main-header .nav-content .logo-holder a .main-logo {
  width: 60px;
}
.main-header .nav-content .logo-holder a .site-name {
  color: #fff;
  font-size: 19px;
  margin-top: 7px;
}
.main-header .nav-content .sing-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-header .nav-content .sing-holder .list-items.bor {
  border-right: 1px solid #fff;
}
.main-header .nav-content .sing-holder .list-items .link-item {
  position: relative;
  color: #fff;
  padding: 12px 14px;
  font-size: 15px;
  font-weight: 600;
}
.main-header .nav-content .sing-holder .list-items .link-item::before {
  content: "";
  position: absolute;
  bottom: 0%;
  right: 50%;
  height: 2px;
  width: 0%;
  background-color: #f8991d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main-header .nav-content .sing-holder .list-items .link-item:hover::before {
  width: 50%;
}
.main-header .nav-content .sing-holder .list-items .link-item::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  height: 2px;
  width: 0%;
  background-color: #f8991d;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main-header .nav-content .sing-holder .list-items .link-item:hover::after {
  width: 50%;
}

.landing-page {
  height: calc(100vh - 70px);
}
.landing-page.sm {
  height: calc(100vh - 330px);
}

.banner {
  position: relative;
  background-image: url("../images/taa.png");
  background-size: cover;
  width: 100%;
  height: 300px;
}
.banner .banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(88, 54, 99, 0.6784313725);
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
}

.application-section .phone {
  width: 100%;
  height: 100%;
}
.application-section .add {
  width: 60%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.application-section .install-app {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.application-section .install-app .install {
  color: #077491;
  font-size: 20px;
}
.application-section .install-app .shop {
  color: #676477;
  font-size: 12px;
}
.application-section .install-app .play,
.application-section .install-app .app {
  width: 140px;
}

.showPlace-section .section-space {
  border: 1px solid #dee2e6;
}
.showPlace-section .section-space .des-text {
  min-height: 500px;
}
.showPlace-section .section-space .des-text p {
  line-height: 25px;
  color: #777;
}
.showPlace-section .section-space .options-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #ddd;
  overflow: hidden;
  border-radius: 15px;
}
.showPlace-section .section-space .options-btn .action-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 14px;
  border: 1px solid #f2f4fa;
  color: #8f95a3;
  border-radius: 0px;
  -webkit-transition: none;
  transition: none;
  gap: 7px;
  font-size: 19px;
}
.showPlace-section .section-space .options-btn .action-btn:hover {
  background-color: #ddd;
}
.showPlace-section .section-space .options-btn .action-btn i,
.showPlace-section .section-space .options-btn .action-btn svg {
  font-size: 19px;
}
.showPlace-section .section-space .options-btn .action-btn i.colored,
.showPlace-section .section-space .options-btn .action-btn svg.colored {
  color: rgba(6, 160, 203, 0.7529411765);
}
.showPlace-section .section-space #map {
  width: 100%;
  height: 300px;
  border: 0;
}

.add-ad-section .container {
  min-height: 70vh;
  max-width: 700px;
}
.add-ad-section .container .s-stepper-content .s-stepper-stage {
  padding: 15px 22px;
  -webkit-box-shadow: 0 2px 4px 0px #aaa;
          box-shadow: 0 2px 4px 0px #aaa;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-swiper {
  width: 100%;
  height: 100%;
}
.landing-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.landing-swiper .swiper-button-next:after,
.landing-swiper .swiper-button-prev:after {
  color: #583663;
  opacity: 0.6;
  font-size: 35px !important;
  font-weight: 700;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.landing-swiper .swiper-button-next:hover:after,
.landing-swiper .swiper-button-prev:hover:after {
  opacity: 1;
}
.landing-swiper .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background-color: #583663 !important;
  opacity: 0.6;
}
.landing-swiper .swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: #3cb878 !important;
}

.main-footer .top-footer {
  background-color: #391e41;
  color: #fff;
  padding: 25px 25px;
}
.main-footer .top-footer .title {
  color: #5ed4de;
  margin-bottom: 15px;
  font-size: 18px;
}
.main-footer .top-footer .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.main-footer .top-footer .footer-list li a {
  color: #fff;
  padding: 15px 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main-footer .top-footer .footer-list li a:hover {
  color: #d2d2d2;
}
.main-footer .top-footer .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
.main-footer .top-footer .social-links .nav-item .nav-link {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #583663;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 18px;
}
.main-footer .top-footer .social-links .nav-item .nav-link:hover {
  background-color: #2eb5ae;
}
.main-footer .top-footer .plus-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.main-footer .top-footer .plus-info li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main-footer .top-footer .plus-info li a i, .main-footer .top-footer .plus-info li a svg {
  font-size: 16px;
}
.main-footer .top-footer .plus-info li a:hover {
  padding-left: 10px;
}
.main-footer .bottom-footer {
  padding: 10px 0px;
  background-color: #583663;
}
.main-footer .bottom-footer .content-bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-footer .bottom-footer .content-bottom-footer .copy-rights .tech {
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.main-footer .bottom-footer .content-bottom-footer .copy-rights .tech:hover {
  color: #d2d2d2;
}