$main-color: #583663;
$mainDark-color: #391e41;
$yellow-color: #f8991d;
$section-color: #eef1f3;
$pageDark-color: #212529;
$textMain-color: #423380;
$lightBlue-color: #5ed4de;
$blue-color: #077491;
$white-color: #fff;
$black-color: #000;
$gray-text: #6c6c6e;
$trouble-d: #ddd;
$trouble-3: #333;
$trouble-7: #777;
$trouble-8: #888;
$trouble-9: #999;