.landing-page {
  height: calc(100vh - 70px);
  &.sm {
    height: calc(100vh - 330px);
  }
}

.banner {
  position: relative;
  background-image: url("../images/taa.png");
  background-size: cover;
  width: 100%;
  height: 300px;
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #583663ad;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
  }
}

.application-section {
  .phone {
    width: 100%;
    height: 100%;
  }
  .add {
    width: 60%;
    height: 100%;
    object-fit: cover;
  }
  .install-app {
    flex-direction: column;
    @include Full-w-h;
    @include flex-center;
    .install {
      color: $blue-color;
      font-size: 20px;
    }
    .shop {
      color: $xt-gray-text;
      font-size: 12px;
    }
    .play,
    .app {
      width: 140px;
    }
  }
}

.showPlace-section {
  .section-space {
    border: 1px solid #dee2e6;
    .des-text {
      min-height: 500px;
      p {
        line-height: 25px;
        color: $trouble-7;
      }
    }
    .options-btn {
      @include flex-between;
      justify-content: space-evenly;
      flex-wrap: wrap;
      border: 1px solid $trouble-d;
      overflow: hidden;
      border-radius: 15px;
      .action-btn {
        position: relative;
        @include flex-center;
        flex: 1;
        padding: 14px;
        border: 1px solid $light-gray;
        color: $alt-gray-text;
        border-radius: 0px;
        transition: none;
        gap: 7px;
        font-size: 19px;
        &:hover {
          background-color: $trouble-d;
        }
        i,
        svg {
          font-size: 19px;
          &.colored {
            color: $xt-blue;
          }
        }
      }
    }
    #map {
      width: 100%;
      height: 300px;
      border: 0;
    }
  }
}
